<div class="container my-md-5 my-3">
    <div class="row">
        <div class="col-md-5 d-flex flex-column align-items-center">
            <img [src]="imgUrl+tourDetails.images[0]" onerror="src='https://placehold.co/400x400'"
                [alt]="tourDetails.name">
            <button class="btn btn-primary mt-3">
                <h3 class="mb-0" (click)="checkout()">Book Now</h3>
            </button>
        </div>
        <div class="col-md-7">
            <h2 class="text-uppercase mt-3 mt-md-0 mb-3">{{tourDetails.name }}</h2>
            <h5>{{tourDetails.summary | titlecase}}</h5>
            <p>{{tourDetails.description}}</p>

            <div class="mb-2"><span class="fw-bold mb-5">Departure Point: </span>
                {{tourDetails.startLocation?.description}}
            </div>
            <div class="mb-2"><span class="fw-bold mb-5">Departure </span>
                {{tourDetails.duration}}
            </div>
            <div class="mb-2"><span class="fw-bold mb-5">Difficulty Level: </span>
                {{tourDetails.difficulty | titlecase}}
            </div>

            <div class="row">
                <div class="col-4">
                    <h6 class="fw-bold">Location:</h6>
                    <ul>
                        <li *ngFor="let location of tourDetails.locations">{{location.description}}</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h6 class="fw-bold">Available date:</h6>
                    <ul>
                        <li *ngFor="let date of tourDetails.startDates">{{date | date}}</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex align-items-end mb-3">
                <ngb-rating class="average-rating" [max]="5" [rate]="tourDetails.ratingsAverage"
                    [readonly]="true"></ngb-rating>&nbsp;
                <div class="mb-md-3 mb-2 fs-4">({{tourDetails.ratingsQuantity}} Reviews)</div><br>
            </div>

        </div>

        <hr class="mt-3">
        <div class="col-md-6 offset-md-3 col-12 mt-5" [formGroup]="reviewForm">
            <ng-container *ngIf="!myReviewExist">
                <h4 class="d-flex justify-content-between">
                    Review
                    <ngb-rating class="fs-2" [max]="5" formControlName="rating"></ngb-rating>
                </h4>

                <div class="form-group">
                    <textarea class="form-control w-100" rows="3" formControlName="review"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-2 mb-5">
                    <button class="btn btn-success ms-2" (click)="postReview()" [disabled]="reviewForm.invalid">Post
                        Review</button>
                </div>
            </ng-container>
            <h4 *ngIf="myReviewExist">Reviews</h4>
            <div class="p-3 border rounded-2 mb-2 " *ngFor="let review of reviews">
                <div class="d-flex">
                    <div class="flex-fill">
                        {{review.review}}
                    </div>
                    <div class="d-inline-flex flex-nowrap ms-3">
                        <i class="bi bi-star-fill"></i>
                        {{review.rating}}
                    </div>
                </div>
                <div class="fst-italic text-end">-{{review.user.name}}</div>
            </div>
        </div>
    </div>
</div>